[Unit]
Description = poweroff from the GPIO button
After = systemd-user-sessions.service

[Service]
User = poweroffd
Group = poweroffd
Type = simple
ExecStart = /usr/local/opt/virtualenvs/poweroffd/bin/python \
                /usr/local/opt/virtualenvs/poweroffd/bin/vol_webui \
                    --pin 17
Restart = on-failure
RestartSec = 15

[Install]
WantedBy = multi-user.target
